:root {
  --azulTexto: #232873;
  --grisCarcasa: #d1d1d1;
  --grisMarco: #696a7c;
  --verdePantalla: #a3a303;
  --magentaBoton: #8b0247;
  --purpura: purple;
  --fuenteArial: Arial;
  --grisFlecha: rgb(168, 168, 168);
  --grisSelectStart: grey;
}

.bg {
  height: 100%;
  width: 100%;
  padding-top: 5em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Partes Principales de la consola: TOP-CARCASA, CARCASA, MARCO-PANTALLA, ROTULOS, CONTROLES y SELECT-START */

.top-carcasa {
  height: 4%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: grey;
  border-bottom-style: double;
}

.carcasa {
  height: 32em;
  width: 20em;
  background-color: var(--grisCarcasa);
  border-radius: 1em 1em 5em 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 3px 0px black;
}

.marco-pantalla {
  margin-top: 1em;
  height: 44%;
  width: 90%;
  background-color: var(--grisMarco);
  border-radius: 1em 1em 3em 1em;
  display: flex;
  flex-direction: column;
}

.rotulos {
  height: 6%;
  width: 90%;
  display: flex;
  flex-direction: row;
  color: var(--azulTexto);
  font-family: var(--fuenteArial);
  align-items: center;
}

.controles {
  height: 24%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select-start {
  height: 22%;
  width: 90%;
  display: flex;
  flex-direction: row;
}

/* TOP-CARCASA */

/* Top Carcasa */
.top-esquina-izquierda {
  height: 100%;
  width: 5%;
}

.top-central {
  height: 100%;
  width: 90%;
  border-right: grey;
  border-right-style: double;
  border-left: grey;
  border-left-style: double;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.top-esquina-derecha {
  height: 100%;
  width: 5%;
}

/* Boton on-off */
.on-off {
  height: 80%;
  width: 25%;
  margin-left: 0.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.6em;
  background-color: rgb(200, 200, 200);
  justify-content: center;
}

.on-off-izquierda {
  border-top: 5px solid transparent;
  border-right: 5px solid var(--grisFlecha);
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

.on-off-central {
  height: 70%;
  width: 90%;
  color: rgb(168, 168, 168);
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.on-off-derecha {
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--grisFlecha);
}

/* MARCO-PANTALLA */
.marco-superior {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.marco-inferior {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

/* Marco superior */

.lineas-izquierda {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 0.2em;
}

.texto-marco {
  height: 100%;
  width: 50%;
  font-size: 0.4em;

  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: var(--fuenteArial);
}

.lineas-derecha {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 0.2em;
}

.linea-azul {
  height: 8%;
  width: 80%;
  background-color: var(--azulTexto);
}

.linea-rosa {
  height: 8%;
  width: 80%;
  background-color: var(--purpura);
}

/* Marco inferior */

.luz-battery {
  margin-top: -2em;
  display: flex;
  height: 100%;
  width: 18%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.luz {
  height: 0.6em;
  width: 0.6em;
  border-radius: 50%;
  background-color: maroon;
}

.battery-texto {
  text-transform: uppercase;
  height: 10%;
  color: white;
  font-family: var(--fuenteArial);
  font-size: 0.5em;
  margin-top: 0.8em;
}

.pantalla {
  height: 86%;
  width: 64%;
  border-radius: 0.2em;
  background-color: var(--verdePantalla);
  box-shadow: 3px 6px 4px rgb(1, 32, 1) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nintendo {
  display: none;
  width: 8em;
  height: 1.5em;
  background-image: url(../img/nintendo-logo-removebg-preview.png);
  background-size: cover;
}

/* Rótulos */

.nintendo-rotulo {
  font-size: 1em;
  font-weight: bold;
}

.gameboy-rotulo {
  height: 100%;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.4em;
  font-weight: bold;
}

.tm-rotulo {
  height: 100%;
  font-size: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

/* CONTROLES */
.cruceta {
  margin-top: 1em;
  height: 76%;
  width: 30%;
  border-radius: 50%;
  box-shadow: 2em 2em 4em 1em #d8d8d8 inset;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.flecha-arriba {
  border-bottom: 4px solid var(--grisFlecha);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  margin-bottom: 0.1em;
}

.flecha-derecha {
  border-left: 4px solid var(--grisFlecha);
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-left: 0.1em;
}

.flecha-abajo {
  border-top: 4px solid var(--grisFlecha);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-top: 0.1em;
}

.flecha-izquierda {
  border-left: 4px solid transparent;
  border-right: 4px solid var(--grisFlecha);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-right: 0.1em;
}

.cruceta-core {
  height: 100%;
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* La cruceta se organiza como un grid de 9 posiciones, numeradas del 1 al 9 */
.boton-cruceta {
  height: 90%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hueco {
  height: 70%;
  width: 35%;
}

.botonesAB {
  height: 78%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-25deg);
  margin-top: 1em;
}

/* Botones-cruceta */
.tecla {
  background-color: black;
}

.posicion-1 .posicion-3 .position-5 .posicion-7 .posicion-9 {
  /* Se ha dejado en blanco intencionadamente, únicamente con fines aclaratorios. Como CSS no recomienda emplear clases vacías, agregamos lo siguiente para que no marque la advertencia */
  background-color: none;
}

.posicion-2 {
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  align-items: center;
  justify-content: center;
}

.posicion-4 {
  border-radius: 4px 0px 0px 4px;
  display: flex;
  flex-direction: row;
  column-gap: 0.2em;
  align-items: center;
  justify-content: center;
}

.central {
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0em 0em 3em 0em black inset;
  border-radius: 50%;
}

.posicion-6 {
  border-radius: 0px 4px 4px 0px;
  display: flex;
  flex-direction: row;
  column-gap: 0.2em;
  align-items: center;
  justify-content: center;
}

.posicion-8 {
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  align-items: center;
  justify-content: center;
}

/* Barras verticales y horizontales de la cruceta */
.barra-horizontal {
  height: 12%;
  width: 60%;
  background-color: rgb(36, 36, 36);
  border-radius: 1em;
}

.barra-vertical {
  height: 60%;
  width: 12%;
  background-color: rgb(36, 36, 36);
  border-radius: 1em;
}

/* Botones B y A */
.concavidad {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.concavidad-izquierda {
  height: 100%;
  width: 45%;
  background-color: #d8d8d8;
  border-radius: 2em 0em 0em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.concavidad-central {
  height: 100%;
  width: 10%;
  background-color: #d8d8d8;
}

.concavidad-derecha {
  height: 100%;
  width: 45%;
  background-color: #d8d8d8;
  border-radius: 0em 2em 2em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton {
  height: 80%;
  width: 80%;
  background-color: var(--magentaBoton);
  border-radius: 100%;
  /* box-shadow: 0.05em 0.05em 0.2em 0.05em white inset; */
  border: 0.1em solid rgb(109, 0, 0);
}

.rotulos-ab {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: var(--fuenteArial);
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--azulTexto);
  font-weight: bold;
}

/* Parte inferior: select-start */

/* Hueco vacío de la izquierda */
.vacio {
  height: 100%;
  width: 22%;
}

/* Botones Select y Start del medio */
.botones-select-start {
  height: 100%;
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  Barras del lateral por donde sale el sonido */
.sonido {
  height: 100%;
  width: 32%;
  display: flex;
  flex-direction: row;
  column-gap: 0.6em;
  transform: rotate(-30deg);
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.4em;
}

.barra-sonido {
  height: 48%;
  width: 6%;
  border-radius: 0.2em;
  background-color: rgb(160, 160, 160);
}

/* Botones select-start y auriculares */
.botones {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0.8em;
  padding-top: 1.2em;
  justify-content: center;
}

.select {
  height: 40%;
  width: 32%;
  display: flex;
  flex-direction: column;
  transform: rotate(-26deg);
}

.start {
  height: 40%;
  width: 32%;
  display: flex;
  flex-direction: column;
  transform: rotate(-26deg);
}

.boton-select-start {
  height: 38%;
  display: flex;
  flex-direction: row;
  border-radius: 0.4em;
  box-shadow: 0 0 0 0.2em #d8d8d8;
  background-color: var(--grisSelectStart);
}

.rotulo {
  height: 45%;
  text-transform: uppercase;
  color: var(--azulTexto);
  font-family: var(--fuenteArial);
  font-size: 0.7em;
  text-align: center;
  font-weight: bold;
  margin-top: 0.2em;
}

.auriculares {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.detalle-auriculares {
  height: 8%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 0.2em;
}

/* Auriculares */

.contenedor-auriculares {
  background-color: #d8d8d8;
  border: 1px solid rgb(167, 167, 167);
  height: 80%;
  width: 44%;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  column-gap: 0.2em;
  align-items: center;
}

.icono-auriculares {
  height: 90%;
  width: 20%;
  background-image: url(/img/headphones-24.png);
  border-radius: 1em;
  background-size: cover;
  margin-left: 0.1em;
}

.texto-auriculares {
  height: 90%;
  width: 80%;
  text-transform: uppercase;
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}

.barra-vertical-auriculares {
  height: 100%;
  width: 10%;
  background-color: rgb(167, 167, 167);
}

/* Hover sobre el boton on-off */

.on-off:hover {
  cursor: pointer;
}
