:root {
  --azulTexto: #232873;
  --grisCarcasa: #d1d1d1;
  --grisMarco: #696a7c;
  --verdePantalla: #a3a303;
  --magentaBoton: #8b0247;
}

.bg {
  height: 50em;
  width: 20em;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carcasa {
  height: 32em;
  width: 20em;
  background-color: var(--grisCarcasa);
  border-radius: 1em 1em 5em 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 3px 0px black;
}

.top-carcasa {
  height: 4%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: grey;
  border-bottom-style: double;
}

.marco-pantalla {
  margin-top: 1em;
  height: 44%;
  width: 90%;
  background-color: var(--grisMarco);
  border-radius: 1em 1em 3em 1em;
  display: flex;
  flex-direction: column;
}

.rotulos {
  height: 6%;
  width: 90%;
  /* background-color: rosybrown; */
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  color: var(--azulTexto);
  font-family: arial;
  align-items: center;
}

.controles {
  height: 24%;
  width: 90%;
  /* background-color: var(--verdePantalla); */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select-start {
  height: 22%;
  width: 90%;
  /* background-color: var(--azulTexto); */
  display: flex;
  flex-direction: row;
}

/* Top Carcasa */
.top-esquina-izquierda {
  height: 100%;
  width: 5%;
}

.top-central {
  height: 100%;
  width: 90%;
  border-right: grey;
  border-right-style: double;
  border-left: grey;
  border-left-style: double;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.top-esquina-derecha {
  height: 100%;
  width: 5%;
}

/* Boton on-off */
.on-off {
  height: 80%;
  width: 25%;
  /* background-color: hotpink; */
  margin-left: 0.4em;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.6em;
  background-color: rgb(200, 200, 200);
  justify-content: center;
}

.on-off-izquierda {
  height: 0em;
  width: 0em;

  border-left: 5px solid transparent;
  border-right: 5px solid rgb(168, 168, 168);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.on-off-central {
  height: 70%;
  width: 90%;
  color: rgb(168, 168, 168);
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* background-color: royalblue; */
}

.on-off-derecha {
  height: 0em;
  width: 0em;

  border-right: 5px solid transparent;
  border-left: 5px solid rgb(168, 168, 168);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

/* Marco-pantalla */

.marco-superior {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: indianred; */
  align-items: center;
}

.marco-inferior {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: honeydew; */
  margin-top: 0;
}

/* Marco superior */

.lineas-izquierda {
  height: 100%;
  width: 30%;
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.2em;
  align-items: flex-end;
}

.texto-marco {
  height: 100%;
  width: 50%;

  flex-direction: row;
  font-size: 0.4em;
  color: white;
  /* background-color: indianred; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.lineas-derecha {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.2em;
  align-items: flex-start;
}

.linea-azul {
  height: 8%;
  width: 80%;
  background-color: darkblue;
}

.linea-rosa {
  height: 8%;
  width: 80%;
  background-color: purple;
}

/* Marco inferior */

.luz-battery {
  margin-top: -2em;
  display: flex;
  height: 100%;
  width: 18%;
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.luz {
  height: 0.6em;
  width: 0.6em;
  /* background-color: red; */
  border-radius: 50%;
  /* box-shadow: 0px 0px 4px 1px grey; */
  background-color: maroon;
  /* transition: box-shadow;
  transition: background-color; */
}

/* .luz:hover {
  box-shadow: 0px 0px 4px 1px grey;
  background-color: red;
} */

.battery-texto {
  text-transform: uppercase;
  height: 10%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  margin-top: 0.8em;
}

.pantalla {
  /* margin-top: 1.4em; */
  height: 86%;
  width: 64%;
  border-radius: 0.2em;
  background-color: var(--verdePantalla);
  box-shadow: 3px 6px 4px rgb(1, 32, 1) inset;
  display: flex;
  justify-content: center;
}

/* Rótulos */

.nintendo-rotulo {
  font-size: 1em;
  font-weight: bold;
}

.gameboy-rotulo {
  height: 100%;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.4em;
  font-weight: bold;
}

.tm-rotulo {
  height: 100%;
  font-size: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

/* Controles */
.cruceta {
  margin-top: 1em;
  height: 76%;
  width: 30%;
  /* background-color: wheat; */
  border-radius: 50%;
  /* box-shadow: 3em 3em 2em 2em rgba(170, 170, 170, 0.25) inset; */
  /* box-shadow: 0em 0em 1em 1em var(--grisMarco) inset; */
  box-shadow: 2em 2em 4em 1em #d8d8d8 inset;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flecha-izquierda {
  /* height: 6%;
  width: 6%;
  background-color: indigo; */
  height: 0em;
  width: 0em;

  border-left: 4px solid transparent;
  border-right: 4px solid rgb(190, 190, 190);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-right: 0.1em;
}

.flecha-derecha {
  /* height: 6%;
  width: 6%;
  background-color: indigo; */
  height: 0em;
  width: 0em;

  border-left: 4px solid rgb(190, 190, 190);
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-left: 0.1em;
}

.cruceta-core {
  height: 100%;
  width: 88%;
  /* background-color: khaki; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flecha-arriba {
  border-bottom: 4px solid rgb(190, 190, 190);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  margin-bottom: 0.1em;
}
.boton-cruceta {
  height: 90%;
  width: 100%;
  /* background-color: lightpink; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.flecha-abajo {
  height: 0em;
  width: 0em;
  border-top: 4px solid rgb(190, 190, 190);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-top: 0.1em;
}

.hueco {
  height: 70%;
  width: 35%;
  /* background-color: yellow; */
}

.botonesAB {
  height: 78%;
  width: 35%;
  /* background-color: wheat; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-25deg);
  margin-top: 1em;
}

/* botones-cruceta */
.tecla {
  background-color: black;
}

.posicion-2 {
  border-radius: 4px 4px 0px 0px;
  /* box-shadow: 1px 1px 1px 1px rgb(124, 124, 124) inset; */
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  align-items: center;
  justify-content: center;
}

.posicion-4 {
  border-radius: 4px 0px 0px 4px;
  /* box-shadow: 1px 1px 1px 1px rgb(124, 124, 124) inset; */
  display: flex;
  flex-direction: row;
  column-gap: 0.2em;
  align-items: center;
  justify-content: center;
}

.posicion-5 {
  background-color: black;
  /* border-radius: 0.1em; */
  /* background-color: #d8d8d8; */
  /* box-shadow: 0em 0em 1em 0em black; */
}

.central {
  height: 100%;
  width: 100%;
  background-color: white;
  /* box-shadow: 1px 1px 1px 0.1px white inset; */

  box-shadow: 0em 0em 3em 0em black inset;
  border-radius: 50%;
}

.posicion-6 {
  border-radius: 0px 4px 4px 0px;
  display: flex;
  flex-direction: row;
  column-gap: 0.2em;
  align-items: center;
  justify-content: center;
}

.posicion-8 {
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  align-items: center;
  justify-content: center;
}

/* .hueco {
  height: 100%;
  width: 33.4%;
  border: 1px solid black;
} */

/* Barras verticales y horizontales de la cruceta */
.barra-horizontal {
  height: 12%;
  width: 60%;
  background-color: rgb(36, 36, 36);
  border-radius: 1em;
}

.barra-vertical {
  height: 60%;
  width: 12%;
  background-color: rgb(36, 36, 36);
  border-radius: 1em;
}

/* Botones B y A */
.concavidad {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: violet; */
}

.concavidad-izquierda {
  height: 100%;
  width: 45%;
  background-color: #d8d8d8;
  border-radius: 2em 0em 0em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.concavidad-central {
  height: 100%;
  width: 10%;
  background-color: #d8d8d8;
}

.concavidad-derecha {
  height: 100%;
  width: 45%;
  background-color: #d8d8d8;
  border-radius: 0em 2em 2em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton {
  height: 80%;
  width: 80%;
  background-color: var(--magentaBoton);
  border-radius: 100%;
  box-shadow: 0.1em 0.1em 0.2em 0.1em white inset;
}

.boton-b {
}

.boton-a {
}

.rotulos-ab {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--azulTexto);
  font-weight: bold;
}

/* Parte inferior: select-start */

.vacio {
  height: 100%;
  width: 22%;
  /* background-color: burlywood; */
}

.botones-select-start {
  height: 100%;
  width: 46%;
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sonido {
  height: 100%;
  width: 32%;
  /* background-color: darkgoldenrod; */
  display: flex;
  flex-direction: row;
  column-gap: 0.6em;
  transform: rotate(-30deg);
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.4em;
}
.barra-sonido {
  height: 48%;
  width: 6%;
  border-radius: 0.2em;
  background-color: rgb(160, 160, 160);
}

/* Botones select-start y auriculares */

.botones {
  height: 60%;
  width: 100%;
  /* background-color: hotpink; */
  display: flex;
  flex-direction: row;
  column-gap: 0.8em;
  padding-top: 1.2em;
  justify-content: center;
}

.select {
  height: 40%;
  width: 32%;
  /* background-color: lavender; */
  display: flex;
  flex-direction: column;
  transform: rotate(-26deg);
}

.start {
  height: 40%;
  width: 32%;
  /* background-color: lavender; */
  display: flex;
  flex-direction: column;
  transform: rotate(-26deg);
}

.boton-select-start {
  height: 38%;
  /* background-color: lightblue; */
  display: flex;
  flex-direction: row;
  border-radius: 0.4em;
  box-shadow: 0 0 0 0.2em #d8d8d8;
  background-color: grey;
}

.rotulo {
  height: 45%;
  text-transform: uppercase;
  color: var(--azulTexto);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  text-align: center;
  font-weight: bold;
  margin-top: 0.2em;
}

.auriculares {
  height: 15%;
  width: 100%;
  /* background-color: indianred; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.detalle-auriculares {
  height: 8%;
  width: 30%;
  /* background-color: khaki; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 0.2em;
}

/* Auriculares */

.contenedor-auriculares {
  background-color: #d8d8d8;
  border: 1px solid rgb(167, 167, 167);
  height: 80%;
  width: 44%;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  column-gap: 0.2em;
  align-items: center;
}

.icono-auriculares {
  height: 90%;
  width: 20%;
  background-image: url(/img/headphones-24.png);
  border-radius: 1em;
  background-size: cover;
  margin-left: 0.1em;
}

.texto-auriculares {
  height: 90%;
  width: 80%;
  text-transform: uppercase;
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}

.barra-vertical-auriculares {
  height: 100%;
  width: 10%;
  background-color: rgb(167, 167, 167);
}

/* Animaciones y demás */

.logo-nintendo {
  width: 8em;
  height: 1.5em;
  background-image: url(/img/nintendo-logo-removebg-preview.png);
  background-size: cover;
  /* border: 1px solid black; */
  animation-name: nintendo;
  animation-duration: 4s;
  position: relative;
}

/* .nintendo-logo {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: nintendo;
  animation-duration: 1.5s;
} */

@keyframes nintendo {
  0% {
    /* background-color: green; */
    top: -1.2em;
  }

  100% {
    top: 4em;
  }
}

.on-off:hover {
  cursor: pointer;
}
